/* -----------------------------it affects everything----------------------------- */
*{
    margin-top: 0;
    margin-left: 0;
}

p{
    font-family:'Syne Mono', monospace;
    width: 25%;
    color: white;
}

h1{
    font-family: 'Seaweed Script', cursive;
    font-size: 480%;
    text-align: center;
    color: white;
}

h6{
    font-family: 'Seaweed Script', cursive;
    font-size: 180%;
    text-align: center;
    margin-top: -70px;
    color: white;
}

h2{
    font-family: 'Seaweed Script', cursive;
    font-size: 240%;
    text-align: center;
    color: white;
}
.subTitle{
    display: flex;
    justify-content: center;
    justify-content:space-around;
    padding-left: 60px;
}
h5{
    justify-content: right;
    font-family:'Syne Mono', monospace;
    width: 25%;
    color: white;
    font-size: 100%;

}
   



/* -----------------------------it affects only the index page----------------------------- */
.indexBg{
    background-image: url(images/indexbackground.png);
}

/* this secction affects the artist info */
.artist{
    display: flex;
    justify-content: space-between;
}

.intro{
    justify-content: space-evenly;
}

.artistImg{
    height: 70%;
    width: 120%;
    border: 5px solid white;
    justify-content: left;
}

/* this section affect the grid with the hyperlink imgs */
.box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}
.indexGridImg{
    width: 30%;
    border: 8px solid whitesmoke;
}

/* Glitch title --> I got the effect by following this video https://youtu.be/7Xyg8Ja7dyY */
.glitchTxt{
    text-shadow: 
    0.05em 0 0 #F9E900, 
    -0.025em -0.05em 0 #FF8811, 
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75); 
    animation: glitch 600ms infinite;
    position: relative;
}
.glitchTxt span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.glitchTxt span:first-child{
    animation: glitch 850ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 40%);
    transform: translate(-0.020em, 0);
}
.glitchTxt span:last-child{
    animation: glitch 350ms infinite;    
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.030em, -0.025em);
}

@keyframes glitch{
    0%{
        text-shadow: 
        0.05em 0 0 #F9E900, 
        -0.05em -0.025em 0 #FF8811, 
        -0.025em 0.05em 0 #548687;  
    }
    14%{
        text-shadow: 
        0.05em 0 0 #F9E900, 
        -0.05em -0.025em 0 #FF8811, 
        -0.025em 0.05em 0 #548687;  
    }
    15%{
        text-shadow: 
        -0.05em -0.025em 0 #F9E900, 
        0.025em 0.025em 0 #FF8811, 
        -0.05em -0.05em 0 #548687;  
    }
    49%{
        text-shadow: 
        -0.05em -0.025em 0 #F9E900, 
        0.025em 0.025em 0 #FF8811, 
        -0.05em -0.05em 0 #548687;  
    }
    50%{
        text-shadow: 
        0.025em 0.05 0 #F9E900, 
        0.05em 0 0 #FF8811, 
        0 -0.05em 0 #548687;  
    }
    99%{
        text-shadow: 
        0.025em 0.05 0 #F9E900, 
        0.05em 0 0 #FF8811, 
        0 -0.05em 0 #548687;  
    }
    100%{
        text-shadow: 
        -0.025em 0 0 #F9E900, 
        -0.025em -0.025em 0 #FF8811, 
        -0.025em -0.05em 0 #548687;  
    }
}

/* This affects only the explanation page  */
.backIcon{
    margin-top: 5px;
    width: 5%;
}
.explTitle{
    color: white;
    font-weight: 1000;
    animation: glitch 600ms infinite;
}

.expeBg{
    background-image: url(images/expl_background.jpeg);
}

.vimeo{
    border: 5px solid white;
    width: 540px;
    height: 400px;
    justify-content: center;

}

.clickMore{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-decoration: none;
}
.fP{
    margin-left: auto;
    margin-right: auto;
}

.clickMore:hover{
    animation: glitch 600ms infinite;
}
.contenedor{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
