
*{
    margin-top: 0;
    margin-left: 0;
}
/* it affects everything */
p{
    font-family:'Syne Mono', monospace;
    width: 25%;
    color: white;
}

h1{
    font-family: 'Seaweed Script', cursive;
    font-size: 480%;
    text-align: center;
    color: white;
}

h6{
    font-family: 'Seaweed Script', cursive;
    font-size: 180%;
    text-align: center;
    margin-top: -70px;
    color: white;
}

h2{
    font-family: 'Seaweed Script', cursive;
    font-size: 240%;
    text-align: center;
    color: white;
}

/* it affects only the index page */
.artist{
    display: flex;
    justify-content: space-between;
}

.intro{
    justify-content: space-evenly;
}

.artistImg{
    height: 70%;
    width: 120%;
    border: 5px solid white;
    justify-content: left;
}

.indexBg{
     background-image: url(images/indexbackground.png);
}

.indexGridImg{
    width: 30%;
    border: 8px solid whitesmoke;
}
.indexGridImg:hover{
    background-position: 2000px 1000px;
}

.box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 68px;
}